@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Roboto';
  color: #081f32;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  max-width: 100vw;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  padding: 24px;
  max-width: 1068px;
  margin: 0 auto;
}

button {
  background-color: #00b0c8;
  padding: 10px 15px;
  border: none;
  text-transform: uppercase;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.button {
  background-color: #00b0c8;
  padding: 10px 15px;
  border: none;
  text-transform: uppercase;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}
